## Quiz

In [2]:
from bs4 import BeautifulSoup
import os
import pandas as pd

In [17]:
# List of dictionaries to build file by file and later convert to a DataFrame
df_list = []
folder = 'rt_html'
for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie_html)) as file:
        soup = BeautifulSoup(file, 'lxml')
        title = soup.find('title').contents[0][:-len(' - Rotten Romatoes')]
        audience_score = soup.find('div', class_='audience-score meter').find('span').contents[0][:-1]
        number_of_audience_ratings = soup.find('div', class_='audience-info hidden-xs superPageFontColor')
        number_of_audience_ratings = number_of_audience_ratings.find_all('div')[1].contents[2].strip().replace(',', '')
        df_list.append({'title': title,
                        'audience_score': int(audience_score),
                        'number_of_audience_ratings': int(number_of_audience_ratings)})
df = pd.DataFrame(df_list, columns = ['title', 'audience_score', 'number_of_audience_ratings'])

In [19]:
df.head()

,title,audience_score,number_of_audience_ratings
0,The Adventures of Robin Hood (1938),89,33584
1,Snow White and the Seven Dwarfs (1937),78,469510
2,Metropolis (1927),92,62018
3,La La Land (2016),82,67325
4,Toy Story 2 (1999),86,998186

## Solution Test
Run the cell below the see if your solution is correct. If an `AssertionError` is thrown, your solution is incorrect. If no error is thrown, your solution is correct.

In [20]:
df_solution = pd.read_pickle('df_solution.pkl')
df.sort_values('title', inplace = True)
df.reset_index(inplace = True, drop = True)
df_solution.sort_values('title', inplace = True)
df_solution.reset_index(inplace = True, drop = True)
pd.testing.assert_frame_equal(df, df_solution)